* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: #ada8b4;
}

/* /css generale */
body {
  background-color: #514d56;
}
main img {
  width: 100%;
  border: 2px solid #000000;
  border-radius: 5px;
}
/* /css generale */

/* css header */
header {
  width: 100%;
  height: 70px;
  line-height: 70px;
  background-color: #9d9aa7;
  border-bottom: 3px solid #681820;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}
header button:first-child {
  width: 30px;
  height: 30px;
  font-size: 25px;
  color: #000000;
  border: 2px solid #681820;
  border-radius: 4px;
  padding: 1px;
  margin-left: 10px;
}
header button:first-child:hover {
  color: #487eaf;
}
#title,
header .search-bar {
  display: inline-block;
  margin-left: 15px;
}
#title a {
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  color: #681820;
  text-decoration: none;
}
#title a:hover {
  text-decoration: underline;
}
header .search-bar {
  width: 60%;
  text-align: right;
  position: absolute;
  right: 10px;
}
.search-bar > input[type="text"],
.search-bar .fas.fa-search {
  padding: 5px;
  border: 2px solid #681820;
  border-radius: 4px;
}
.search-bar > input[type="text"] {
  width: 50%;
}
.search-bar > input[type="text"]:focus {
  outline: 0;
}
.search-bar .fas.fa-search {
  color: #000000;
}
/* /css header */

/* css main e container */
main {
  margin-top: 150px;
}
#container {
  width: 80%;
  min-height: 100vh;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.3);
  border: 2px solid #681820;
  border-radius: 20px;
}
#container .row {
  width: 80%;
  margin: 50px auto;
}
/* /css main e container */

/* css prodotto singolo */
#container .row .product-complete {
  width: calc(100% / 3 - 50px);
  margin: 0 20px;
  display: inline-block;
}
.row .product-head {
  position: relative;
}
.product-complete .sale,
.product-complete .heart {
  position: absolute;
}
.product-complete p.sale {
  padding: 3px;
  color: #000000;
  top: 5px;
  right: 5px;
}
.product-complete p.sale.high {
  background-color: rgba(104, 24, 32, 0.5);
}
.product-complete p.sale.low {
  background-color: rgba(82, 233, 46, 0.5);
}
.product-complete p.heart {
  font-size: 40px;
  color: #681820;
  position: absolute;
  bottom: 10px;;
  left: 50%;
  transform: translatex(-50%);
  display: none;
}
.product-head:hover p.heart {
  display: block;
}
.product-head:hover {
  width: 500px;
  z-index: 1;
}
.product-complete .product-footer {
  width: 100%;
  margin: 0 0 40px 0;
}
.product-footer p {
  font-weight: bold;
  display: inline-block;
}
.product-footer p.description {
  width: 80%;
}
.product-footer p.price {
  width: 18%;
  text-align: right;
}
.product-footer input {
  width: 50%;
  margin-top: 10px;
  padding: 5px;
  font-weight: bold;
  background-color: #681820;
  border: 5px outset #514d56;
  cursor: pointer;
}
.product-footer input:hover {
  color: #a56822;
}
.product-footer input:focus {
  outline: none;
}
/* /css prodotto singolo */

/* css footer */
footer {
  font-size: 1em;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  margin: 30px 0;
}
footer span {
  font-weight: bold;
  text-decoration: underline;
}
/* /css footer */
